<form method="POST" action="/new">
  <label for="username">Name: </label>
  <input type="text" id="username" name="usernameText" />
  <label for="message">Message: </label>
  <input type="text" id="message" name="messageText" />
  <button type="submit">submit</button>
</form>
